<h1>Editing Medical Record</h1>

<%= render 'form', medical_record: @medical_record %>

<%= link_to 'Show', pet_medical_record_path(@pet, @medical_record) %> |
<%= link_to 'Back', pet_medical_records_path(@pet) %>
